<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Duplicate Product
    </title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1 style="color:red;">
        ⚠ Duplicate Product
    </h1>

    <br>

    <div class="details-box">

        <p>

            Product ID already exists in blockchain.

        </p>

        <br>

        <p>

            Duplicate Product ID:
            <strong>{{ product_id }}</strong>

        </p>

    </div>

    <br><br>

    <a href="/">

        <button>
            🔙 Back To Home
        </button>

    </a>

</div>

</body>
</html>