<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Scan Product
    </title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>
        📷 Scan Product
    </h1>

    <p class="subtitle">
        Upload QR Code Image To Verify Product
    </p>

    <br><br>

    <div class="details-box">

        <h2>
            🚀 QR Verification System
        </h2>

        <br>

        <p>
            1️⃣ Open your mobile camera
        </p>

        <p>
            2️⃣ Scan product QR code
        </p>

        <p>
            3️⃣ Open generated verification link
        </p>

        <p>
            4️⃣ Blockchain automatically checks authenticity
        </p>

    </div>

    <br><br>

    <a href="/">

        <button>
            🔙 Back To Home
        </button>

    </a>

</div>

</body>
</html>