<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Product Added
    </title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>
        ✅ Product Added Successfully
    </h1>

    <br>

    <div class="details-box">

        <p>

            <strong>Product:</strong>

            {{ product_name }}

        </p>

    </div>

    <br><br>

    <h2>
        📷 Product QR Code
    </h2>

    <br>

    <img
        src="/static/qrcodes/{{ qr_image }}"
        width="250"
    >

    <br><br>

    <a
        href="/static/qrcodes/{{ qr_image }}"
        download
    >

        <button>
            ⬇ Download QR Code
        </button>

    </a>

    <br><br>

    <a href="/">

        <button class="verify-btn">
            🔙 Back To Home
        </button>

    </a>

</div>

</body>
</html>