<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Product Added</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>
        ✅ Product Added Successfully
    </h1>

    <h2>
        {{ product_name }}
    </h2>

    <p>
        Product securely added to blockchain.
    </p>

    <br>

    <h3>
        📱 Scan QR To Verify Product
    </h3>

    <img
        src="/static/qrcodes/{{ qr_image }}"
        alt="QR Code"
        width="250"
    >

    <br><br>

    <a href="/">

        <button>
            🔙 Back To Home
        </button>

    </a>

</div>

</body>
</html>